/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 мар. 2023 г., 16:45:59
    Author     : http://onedeveloper.ru/, Andrey Petrov
*/

/* Reset start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    background-color: ghostwhite;
    font-family: "Roboto Condensed", sans-serif;
    color: #235c55;
}

._container-maxwidth {
    max-width: 1280px;
    margin: 0 auto;
}

.header_region {
    margin: 5px;
    border: 2px solid #235c55;
}

.around-border {
    margin: 5px;
    padding: 10px;
    border: 2px solid #235c55;
}

.header_name {
    display: flex;
    justify-content: center;
    margin: 50px;
    font-weight: bold;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marg-b-ten {
    margin-bottom: 10px;
}

/* menu */
.contact_information {
    display: flex;
    justify-content: space-around;
}

.bicycle-question {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
    font-weight: bold;
    font-size: 20px;
}

.terms_name {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.table_terms {
    display: flex;
    justify-content: center;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

table {
    border-collapse: collapse;
    margin-bottom: 50px;
}


/* registration.html */
.labels-region {
    margin: 60px;
}


/* choose.html */
.city-bike, .mtb-bike, .highway-bike {
    padding: 10px;
    border: 1px solid #235c55;
}

.choose-text, .bike-type-text{
    font-weight: bold;
}

/* buttons style, common */
.bike-name-text {
    margin-top: 5px;
}

.btn-region {
    display: flex;
    justify-content: center;
}

.btn {
    display: grid;
    color: white;
    border-radius: 8px;
    padding: 4px 9px;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* menu.html, call button */
.call-button {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
}

.call-button:hover {
    background-color: lightgreen;
    color: #235c55;
}

/* registration.html, submit button */
.reg-btn {
    background-color: grey;
    border: 1px solid #235c55;
}

.reg-btn:hover {
    background-color: lightgrey;
    color: #235c55;
}
